@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}


* {
  word-break: break-word;
  box-sizing: border-box;
}

body {
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.8;

}

p {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
  color: #080808;

}

a {
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
  color: #080808;



  &:hover {
    cursor: pointer;
  }
}


a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: clamp(0.813rem, 0.79rem + 0.11vw, 0.875rem);
}

.pc-block {
  display: block;

  @include tab {
    display: none;
  }
}

.sp-block {
  display: none;

  @include tab {
    display: block;
  }
}

.main {
  padding: 100px 0 0;

  @include tab {
    padding: 60px 0 0 0;
  }
}


//フェードイン　アニメーション

.fade-in-js {
  transform: scale(0.9);
  transition: all 0.3s 0s linear;
  opacity: 0;

  &.action {
    transform: scale(1);
    opacity: 1;
  }
}

// エディター設定

.page-style {
  &__section {
    margin: 40px auto 80px;

    @include tab {
      margin: 20px auto 40px;

    }
  }

  &__block {
    margin: 0 0 40px;

    @include tab{
      margin: 0 0 40px;
    }
  }

  .aligncenter {
    display: block;
    margin: 0 auto;
  }

  .alignright {
    display: block;
    margin-left: auto;
  }

  p {
    margin: 0 0 12px;
  }

  h1 {
    font-size: 24px;
    margin: 24px 0 32px;
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 24px 0 16px;
    color: #387510;
    font-weight: bold;
    border-bottom: #387510 1px solid;
    display: inline-block;
    padding: 0 6px;
  }

  h3 {
    font-size: 17px;
    margin: 24px 0 16px;

  }

  a {
    text-decoration: underline;
  }

  ol {
    margin: 0 0 12px 24px;
  

    li {
      list-style: decimal;
    }
  }

  ul {
    margin: 0 0 12px 24px;
    li {
      
      list-style: disc;
    }
  }


}