@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}


/* =================================
下層共通
 ================================= */

.main {
  overflow: hidden;

  &__top-bg {
    position: relative;
    max-width: 1080px;
    margin: 60px auto 0;


    &:before {
      content: url(../img/subpage/page-top-bg.png);
      position: absolute;
      top: 0;
      left: -400px;

      @include pc {
        display: none;
      }
    }

    &:after {
      content: url(../img/subpage/page-top-bg.png);
      position: absolute;
      top: 0;
      right: -400px;


      @include pc {
        display: none;
      }
    }
  }

  &__section {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 12px;
  }

  &__ttl {
    max-width: 560px;
    margin: 0 0 32px;
  }

  &__subttl {
    max-width: 220px;
    margin: 0 0 16px;

    @include sp {
      max-width: 180px;
    }
  }

  &__lead-text {
    margin: 0 0 40px 40px;

    @include sp {
      margin: 0 0 40px 8px;
    }
  }

  &__field-ttl {
    max-width: 400px;
    margin: 0 0 24px;

    &--l {
      max-width: 480px;
    }

    @include sp {
      max-width: 300px;

      &--l {
        max-width: 320px;
      }

    }
  }
}



.field-section {

  &__map {
    margin: 0 0 12px;
    max-width: 660px;
  }

  &__wrap {
    display: flex;
    gap: 6px;
    margin: 0 auto;

    @include tab {
      flex-direction: column;
      margin: 0 auto;
      gap: 12px;
    }
  }

  &__left {
    width: 660px;



    @include tab {
      width: 100%;
    }
  }

  &__left-img {
    overflow: hidden;

    img {
      border-right: #29abe2 4px solid;

      @include tab {
        border-right: none;
      }
    }

    p {
      text-align: center;
    }
  }

  &__right {


    @include tab {
      width: 100%;
      margin: 0 0 16px;
      display: flex;
      flex-wrap: wrap;
    }
  }


  &__right-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0 0 12px;


    @include tab {
      width: 50%;
      margin: 0 0 16px;
    }

    img {
      opacity: 0.5;
    }

    &.current {
      img {
        opacity: 1;
      }

      span {
        background: #29abe2;
      }
    }
  }

  &__right-img {
    width: 150px;

    @include sp {
      width: 120px;
    }
  }

  &__right-span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e6e6e6;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: bold;


    @include tab {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }
}


.hole-list {
  max-width: 860px;

  &__ttl {
    color: #39b54a;
    border: dotted 5px #d9e021;
    border-radius: 24px;
    padding: 2px;
    width: 224px;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    margin: 0 0 -27px;
    position: relative;
    z-index: 1;

    @include tab {
      width: 180px;
      font-size: 16px;
      margin: 0 0 -25px;
      border: dotted 3px #d9e021;
    }
  }

  &__box {
    border: dotted 5px #d9e021;
    padding: 12px;

    @include tab {
      border: dotted 3px #d9e021;
      padding: 4px;
    }
  }

  &__inner {
    background-color: #feffd6;
    padding: 24px;

    @include tab {
      padding: 28px 6px 6px;

    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;

    @include tab {
      gap: 16px;
    }
  }

  &__item {
    width: calc((100% - 50px) / 3);

    @include tab {
      width: calc((100% - 16px) / 2);

    }
  }
}

/* =================================
ゴルフ練習場
 ================================= */

.page-training {

  &__section01 {
    margin: 40px auto 80px;

    @include tab {
      margin: 20px auto 40px;
    }
  }

  &__section02 {
    margin: 0 auto 80px;

    @include tab {
      margin: 0 auto 40px;
    }
  }

  &__section-inner {
    max-width: 900px;
  }

  &__table {
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 40px;

    @include sp {
      font-size: 13px;
      margin: 0 0 24px;

    }
  }

  &__th {
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    background-color: #c5e29f;
    color: #006837;
    padding: 8px;
    vertical-align: middle;
    white-space: nowrap;

    @include tab {
      padding: 4px;
    }

    &--01 {
      width: 20%;
    }

    &--02 {
      width: 40%;
    }

    &--03 {
      width: 40%;
    }
  }

  &__td {
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    padding: 8px;
    vertical-align: middle;

    @include tab {
      padding: 4px;
    }
  }
}

/* =================================
ゴルフコース
 ================================= */

.page-course {

  &__section01 {
    margin: 40px auto 80px;

    @include tab {
      margin: 20px auto 40px;

    }
  }

  &__map-text {
    text-align: right;
    font-size: 12px;

    @include sp {
      text-align: left;
      font-size: 10px;
    }
  }

  &__map {
    margin: 0 0 60px;
    max-width: 860px;

    @include tab {
      margin: 0 0 40px;

    }
  }


  &__section02 {
    margin: 0 auto 80px;

    @include tab {
      margin: 0 auto 40px;
    }
  }

  &__table-wrap {
    max-width: 880px;
    margin: 0 0 20px;

    @include sp {
      margin: 0 0 12px;
    }
  }

  &__table {
    background-color: #fff;
    border: 1px solid #007f21;
    width: 100%;
    font-size: 20px;

    @include sp {
      font-size: 16px;
    }
  }

  &__th {
    padding: 12px 0;
    background-color: #8cc63f;
    color: #fff;
    border-right: 1px solid #007f21;
    font-weight: 900;
    letter-spacing: 0.2rem;

    @include sp {
      letter-spacing: 0.1rem;

    }
  }

  &__td {
    padding: 12px 0;
    border-top: 1px solid #007f21;
    border-right: 1px solid #007f21;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
  }

  &__table-span {
    border-radius: 10px;
    color: #fff;
    text-align: center;
    width: 75px;
    line-height: 1.3em;
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
    padding: 3px 0 1px;

    @include tab {
      display: block;
      margin: 0 auto;
    }

    @include sp {
      width: 55px;
    }


    &--weekday {
      background-color: #0071bc;
    }

    &--holiday {
      background-color: #f00b22;
    }
  }


  &__bg {
    background-color: #f8f8f8;
  }

  &__section02-text {

    &--margin {
      margin: 0 0 40px;
    }
  }

  &__list {
    margin: 32px 0 0 16px;
  }

  &__list-item {
    list-style: decimal;
  }

  &__field-section {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px;

    }
  }
}


/* =================================
アクセス
 ================================= */

.page-access {

  &__section {
    margin: 40px auto 80px;

    @include tab {
      margin: 20px auto 40px;
    }
  }

  &__map-wrap {
    margin: 0 0 80px;
  }

  &__map {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    margin: 0 0 40px;
  }
}

/* =================================
お問い合わせ
 ================================= */

.page-contact {

  &__section {
    margin: 40px auto 80px;

    @include tab {
      margin: 20px auto 40px;
    }
  }

  &__text {
    margin: 0 0 60px;

    @include tab {
      margin: 0 0 40px;

    }
  }

  &__tel-img {
    display: block;
    max-width: 340px;
    margin: 32px 0 24px;
  }

  &__table-wrap {
    max-width: 880px;
    margin: 40px 0 0;

    @include tab {
      max-width: 600px;
    }
  }


  &__table {
    width: 100%;

    td,
    th {
      padding: 0 0 40px;
      vertical-align: top;

      @include tab {
        width: 100% !important;
        display: block;
      }
    }

    th {
      text-align: left;
      width: 240px;
      font-weight: normal;
      position: relative;
      padding: 12px 0 0;

      @include tab {
        padding: 15px 12px;
        margin: 0 0 12px;
        background-color: #eee;
        font-size: 16px;

      }
    }

    td {
      padding: 0 0 20px 20px;

      @include tab {
        padding: 0 0 20px 0;
      }
    }
  }

  &__span {
    font-size: 13px;
    color: #fff;
    background-color: #ca2022;
    padding: 2px 8px;
    display: inline-block;
    margin-left: auto;
    position: absolute;
    top: 13px;
    right: 8px;
    margin: 0 26px 0 0;
    line-height: 1.4;

    @include sp {
      font-size: 14px;
      top: 16px;
    }
  }

  &__input-text {
    width: 100%;
    font-size: 20px;
    padding: 12px;
    border: #c8c8c8 2px solid;
    color: #000;
    margin: 0 0 12px;
    border-radius: 5px;

    @include tab {
      width: 100%;
      font-size: 16px;
    }

    &--s {
      width: 300px;
    }
  }

  &__textarea {
    width: 100%;
    font-size: 20px;
    padding: 12px;
    border: #c8c8c8 2px solid;
    color: #000;
    margin: 0 0 12px;
    border-radius: 5px;

    @include tab {
      width: 100%;
      font-size: 16px;
    }
  }



  &__privacy-text {
    font-size: 14px;
    margin: 0 0 40px;
    text-align: center;

    a {
      font-size: 14px;
    }
  }

  &__btn-wrap {
    text-align: center;
  }

  &__btn {
    color: #fff;
    border: none;
    background-color: #000000;
    font-size: 18px;
    padding: 12px 60px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__error {
    padding: 0 8px;

    .error {
      max-width: 428px;
      margin: 0 auto 60px;
      border: #f02424 2px solid;
      padding: 16px;

      @include sp {
        margin: 0 auto 20px;
      }

      li {
        margin: 0 0 4px;

        @include sp {
          font-size: 13px;
        }
      }
    }
  }
}

/* =================================
ショップ
 ================================= */

.page-shop {

  &__section {
    margin: 40px auto 80px;

    @include tab {
      margin: 20px auto 40px;

    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}
}


/* =================================
買い取りについて
 ================================= */

.page-buying {

  &__section {
    margin: 40px auto 80px;

    @include tab {
      margin: 20px auto 40px;

    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}
}

/* =================================
お知らせ一覧
 ================================= */

.page-information {

  &__section {
    margin: 40px auto 80px;

    @include tab {
      margin: 20px auto 40px;
    }
  }

  &__tab {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin: 0 0 80px;
    border-bottom: #8cc63f 3px solid;
    padding: 0 0 5px;

    @include sp {
      gap: 40px;
      margin: 0 0 40px;
    }
  }

  &__tab-item {
    width: 60px;
    cursor: pointer;
    position: relative;
    z-index: 1;

    @include sp {
      width: 52px;
    }

    &:hover {
      &:before {
        content: url(../img/top/info-ttl-bg.png);
        position: absolute;
        top: 20px;
        left: -107px;
        z-index: -2;
        transform: scale(0.7);

        @include sp {
          transform: scale(0.5);
          top: 16px;

        }
      }
    }

    &.active {
      &:before {
        content: url(../img/top/info-ttl-bg.png);
        position: absolute;
        top: 20px;
        left: -107px;
        z-index: -2;
        transform: scale(0.7);

        @include sp {
          transform: scale(0.5);
          top: 16px;

        }
      }
    }
  }

  &__box {
    margin: 0 0 40px;
  }

  &__article {
    display: flex;
    font-size: 15px;
    align-items: center;
    padding: 16px 2px;
    border-bottom: #b3b3b3 solid 1px;
    position: relative;

    &:first-of-type {
      border-top: #b3b3b3 solid 1px;
    }

    @include tab {
      display: block;
      padding: 6px 2px;

    }

    &:before {
      content: url(../img/top/top-info-ttl-img.png);
      transform: scale(0.8);
      position: absolute;
      top: 10px;
      right: 5px;

      @include tab {
        top: 50%;
        transform: translateY(-50%);

      }
    }
  }

  &__date {
    margin: 0 16px 0 0;
    font-size: 14px;
  }

  &__cat {
    width: 80px;
    text-align: center;
    background-color: #8eb12b;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    margin: 0 24px 0 0;
    display: inline-block;
    padding: 1px;

    &--blog {
      background-color: #f7931e;
    }
  }

  &__pager {
    text-align: center;
  }
}


/* =================================
お知らせ詳細
 ================================= */

.single {

  &__section {
    margin: 60px auto 40px;

    @include tab {
      margin: 20px auto 40px;
    }
  }

  &__ttl {
    max-width: 560px;
    font-size: 20px;
    padding: 0 4px;
    margin: 0 0 40px;
    position: relative;

    @include tab {
      font-size: 16px;

    }

    &:before {
      content: '';
      bottom: -30px;
      left: 0;
      width: 100%;
      /*指定したい幅*/
      padding-top: 5%;
      /*画像の幅に対する高さ比率*/
      display: block;
    }

    &:after {
      position: absolute;
      content: '';
      bottom: -30px;
      left: 0;
      display: block;
      width: 100%;
      /*幅*/
      height: 20px;
      /*どれだけデカくなってもはみ出ないであろう高さを指定*/
      background-image: url(../img/subpage/single-ttl.png);
      background-size: contain;
      background-repeat: no-repeat;
      /*画像を繰り返さない*/
    }
  }

  &__date {
    font-size: 12px;
    display: block;
    margin: 0 0 12px 4px;
  }

  &__content {
    margin: 40px 0;

    @include tab {
      margin: 40px 8px;

    }
  }
}

/* =================================
お知らせ詳細
 ================================= */

.page-404 {

  &__section {
    margin: 60px auto 40px;

    @include tab {
      margin: 20px auto 40px;
    }
  }


  &__content {
    min-height: 300px;
  }
}