@use "config";
@use "subpage";

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1200px)) {
    @content;
  }
}


/* =================================
header
 ================================= */

.wrap-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: transform 0.3s;
  height: 100px;

  @include tab {
    height: 60px;

  }

  &.is-hide {
    transform: translateY(-100%);
  }
}

.header-sub {

  border-bottom: 2px solid #1b1464;


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: block;
    background-color: #1b1464;
    color: #fff;
    padding: 8px;
    width: 150px;
    max-width: 150px;
    text-align: center;
    border-radius: 3px;
    margin: 0 0 0 8px;
    letter-spacing: 0.4rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    @include tab {
      display: none;
    }
  }
}

.header {
  background-color: #fff;
  position: fixed;



  @include tab {
    border-bottom: 1px #8a8a8a solid;

  }

  &__breadcrumb {
    font-size: 12px;
    max-width: 1200px;
    margin: 0 auto;
    color: #777777;
    position: absolute;
    bottom: -28px;
    left: 10%;
    transform: translateX(-50%);

    @include tab {
      left: 12px;
      transform: translateX(0);

    }
  }

  &__inner {
    padding: 13px 8px 16px 60px;
    max-width: 1600px;
    margin: 0 auto;

    @media screen and (max-width: 1350px) {
      padding: 13px 8px 16px;
    }

    @include pc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
    }


    @include sp {
      padding: 4px 8px;
    }
  }

  &__ttl {
    max-width: 400px;

    @media screen and (max-width: 1600px) {
      width: 360px;
    }

    @media screen and (max-width: 1420px) {
      width: 300px;
    }

    @media screen and (max-width: 1250px) {
      width: 280px;
    }

    @include tab {
      max-width: 200px;

    }
  }

  &__nav-list {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;

    @include pc {
      position: initial;
      transform: translate(0, 0);

    }


    @include tab {
      display: none;
    }

  }

  &__nav-item {
    text-align: center;
    width: 120px;
    border-left: 1px solid #333;


    &:nth-of-type(4) {
      border-right: 1px solid #333;
    }

    @media screen and (max-width: 1250px) {
      width: 108px;
    }

    @include pc {
      width: 88px;
    }

  }

  &__nav-br {
    display: none;

    @include pc {
      display: block;
    }
  }

  &__nav_tel {
    width: 300px;
    display: block;
    padding: 0 16px;

    @media screen and (max-width: 1550px) {
      width: 220px;
      padding: 0 12px;

    }


    @media screen and (max-width: 1250px) {
      width: 180px;
    }



  }

  &__nav-mail {
    width: 40px;
    display: block;
    padding: 12px 0 12px;

  }

  &__nav-link {
    position: relative;
    display: block;
    letter-spacing: 0.1rem;
    font-size: 15px;
    padding: 12px 0 12px;
    line-height: 13px;
    text-shadow:
      .4px .4px #000,
      -.4px .4px #000,
      -.4px -.4px #000,
      .4px -.4px #000,
      .4px 0px #000,
      0px .4px #000,
      -.4px 0px #000,
      0px -.4px #000;


    &:hover {
      border: 1px solid #000;
      margin: 0 2px;
    }


    @include pc {
      letter-spacing: 0.4em;
      line-height: 1.2;
    }
  }

  &__open-btn {
    position: relative;
    z-index: 999;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: none;

    @include tab {
      display: block;
    }

    span {
      display: inline-block;
      transition: all 0.4s;
      /*アニメーションの設定*/
      position: absolute;
      left: 11px;
      height: 2px;
      border-radius: 5px;
      background: #000;
      width: 65%;

      &:nth-of-type(1) {
        top: 13px;
      }

      &:nth-of-type(2) {
        top: 23px;
      }

      &:nth-of-type(3) {
        top: 33px;
      }

    }

    /*.active が付与された時の挙動*/
    &.active span:nth-of-type(1) {
      top: 14px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 60%;
    }

    &.active.active span:nth-of-type(2) {
      opacity: 0;
    }

    &.active span:nth-of-type(3) {
      top: 26px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 60%;
    }

    &.active span:nth-of-type(3)::after {
      display: none;
    }
  }
}



.header-sp {
  position: fixed;
  z-index: 99;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: all 0.6s;

  &.open-menu {
    right: 0;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  &__time {
    text-align: center;
    margin: 0 0 40px;
  }

  &__nav-list {
    margin: 0 0 40px;
  }

  &__nav-item {
    margin: 0 0 24px;
  }
}


/* =================================
footer
 ================================= */

.footer {
  position: relative;
  &__dec {
    vertical-align: bottom;
  }

  &__inner {
    background-color: #007f21;
    padding: 40px 8px 12px;
  
  }


 

  &__ttl {
    display: block;
    max-width: 340px;
    margin: 0 auto 4px;
    padding: 0 12px;


  }

  &__tel {
    display: block;
    max-width: 300px;
    margin: 0 auto 32px;
    padding: 0 12px;
  }


  &__nev {
    display: flex;
    justify-content: center;
    margin: 0 0 32px;

    @include pc {
      margin: 12px 0 32px;
    }

    @include tab {
      flex-wrap: wrap;
    }

    @include sp{
      justify-content: space-between;
    }
  }

  &__nav-item {
    border-left: 1px solid #fff;
    padding: 0 16px;
    line-height: 18px;
    color: #fff;

    @include pc {
      padding: 0 8px;
    }

    @include tab {
      margin: 0 0 6px;
    }

    &:last-child {
      border-right: 1px solid #fff;

      @include sp {
        border: none;
      }
    }

    @include sp {
      border: none;
       width: 45%;
    }
  }

  &__bottom {
    padding: 8px 0;
  }

  &__coppy {
    color: #007f21;
    text-align: center;
    font-size: 12px;
  }





  // スクロールボタン
  &__scroll-btn {
    cursor: pointer;
    position: absolute;
    top: -32px;
    right: 5%;
    width: 50px;

  }
}



/* =================================
main-visual
 ================================= */

.main-visual {
  width: 100%;
  background-image: url(../img/top/slider-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include pc{
  background-image: none;
  }

 


  &__list {
    max-width: 1120px;
    margin: 0 auto;
  }

  &__left-img {

    @include pc {
      display: none;
    }

    img {
      object-fit: cover;
      object-position: right bottom;
      height: 100%;
    }
  }

  &__right-img {
    @include pc {
      display: none;
    }

    img {
      object-fit: cover;
      object-position: left bottom;
      height: 100%;
    }
  }

  &__item {}


  &__item-img {
    @include pc {
      max-width: 1120px;
    }
  }


  .slick-dots {
    bottom: -24px;

  }

  .slick-slider {
    margin-bottom: 0;
  }

  .slick-prev {
    left: -16px;
    z-index: 2;
  }

  .slick-next {
    right: -3px;
  }

}


/* =================================
top-about
 ================================= */

.top-about {
  padding: 0 0 60px;

  @include tab {
    padding: 0 0 40px;

  }

  &__ttl {
    background-image: url(../img/top/top-abput-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 12px;
    margin: 16px 0 60px;

    @include sp {
      background-image: none;
      margin: 16px 0 40px;

    }
  }

  &__ttl-img {
    padding: 0 4px;
    max-width: 800px;
    margin: 0 auto;
  }



  &__content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto 60px;
    gap: 28px;

    @include tab {
      flex-direction: column;
      align-items: center;
      padding: 0 12px;
      margin: 0 auto 40px;

    }
  }

  &__item {
    display: block;

    @include tab {
      max-width: 400px;
    }
  }

  &__img {}

  &__subttl {
    margin: 0 0 12px;
  }

  &__btn {
    display: block;
    max-width: 320px;
    margin: 0 auto;
  }

}



.top-about-subttl {

  &__ttl {
    font-size: 22px;
    border-bottom: 1px solid #8eb12b;
    position: relative;

    &:before {
      content: url(../img/top/top-about-subttl-img.png);
      transform: scale(0.6);
      position: absolute;
      top: -7px;
      right: 0;
    }


  }

  &__ttl-span {
    color: #8eb12b;
    font-size: 16px;
    font-weight: 900;
  }


}









/* =================================
top-info
 ================================= */

.top-info {
  background-color: #fefff0;
  background-image: url(../img/top/top-info-bg.png);

  &__ttl-img {
    padding: 0 4px;
    max-width: 800px;
    margin: 0 auto;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}



}


/* =================================
top-shop
 ================================= */

.top-shop {

  @include sp{
    padding: 40px 0 0 0;
  }
  border-bottom: #ffdb31 48px solid;

  @include tab {
    border-bottom: #ffdb31 28px solid;
  }


  &__ttl-img {
    padding: 0 4px;
    max-width: 800px;
    margin: 0 auto 24px;
  }

  &__point-wrap {
    background: linear-gradient(180deg, #ffdb31 0%, #ffdb31 50%, #fff 50%, #fff 100%);
    padding: 48px 12px;

    @include sp {
      padding: 16px 12px;

    }
  }

  &__point-img {
    max-width: 620px;
    margin: 0 auto;
  }

  &__box-wrap {
    background-image: url(../img/top/top-shop-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 60px;
    padding: 0 12px;

    @include tab {
      background-image: none;
    }

  }

  &__box {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    gap: 80px;

    @include tab {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__item {
    width: 50%;

    @include tab {
      width: 100%;
      max-width: 400px;

    }
  }

  &__img {
    margin: 0 0 12px;
  }

  &__text {
    padding: 0 12px 0 46px;

    @include tab {
      padding: 0 12px 0 12px;

    }
  }

  &__ {}

  &__ {}



}





/* =================================
top-partner
 ================================= */

.top-partner {
  padding: 40px 0 0;
  border-bottom: #ffdb31 48px solid;

  @include tab {
    border-bottom: #ffdb31 28px solid;

  }



  &__ttl-img {
    padding: 0 4px;
    max-width: 560px;
    margin: 0 auto;
  }

  &__ttl-wrap {}

  &__ttl-text {
    text-align: center;
    padding: 12px 0 0 0;
    position: relative;

    @include pc {
      margin: 0 0 12px;
    }


    &:before {
      content: "";
      display: inline-block;
      background: url(../img/top/top-partner-text-bg.png);
      background-size: cover;
      width: 900px;
      height: 200px;
      position: absolute;
      top: -64px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;

      @include pc {
        display: none;
      }
    }
  }

  &__content {
    background-image: url(../img/top/top-partner-bg.jpg);
    position: relative;
    z-index: -2;
    padding: 200px 0 60px 0;
    margin: -120px 0 0 0;

    @include pc {
      margin: 0 0 0 0;
      padding: 40px 12px;

    }
  }

  &__content-img {
    max-width: 720px;
    margin: 0 auto;
  }

  &__bnr {
    display: block;
    max-width: 880px;
    margin: 60px auto;

    @include tab {
      margin: 0px auto;

    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}



/* =================================
top-price
 ================================= */

.top-price {

  padding: 24px 0 0 0;
  border-bottom: #b3b3b3 2px solid;

  @include sp{
    padding: 40px 0 0 0;
  }

  &__ttl-img {
    padding: 0 4px;
    max-width: 800px;
    margin: 0 auto;
  }

  &__subttl {
    max-width: 560px;
    margin: 60px auto 40px;

    @include sp {
      margin: 24px auto;

    }
  }

  &_center-img {}

  &__content {
    background-color: #fefff0;
    padding: 60px 12px;

    @include sp {
      padding: 40px 12px;
    }
  }

  &__content-img01 {
    max-width: 720px;
    margin: 0 auto 60px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__btn {
    display: block;
    max-width: 240px;
    margin: 0 auto;
  }

  &__table-wrap {
    max-width: 880px;
    margin: 0 auto 60px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__table {
    background-color: #fff;
    border: 1px solid #007f21;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;

    @include sp {
      font-size: 16px;

    }

  }

  &__th {
    padding: 12px 0;
    background-color: #39b54a;
    color: #fff;
    border-right: 1px solid #007f21;
    font-weight: 900;
    letter-spacing: 0.2rem;

    @include sp {
      letter-spacing: 0.1rem;

    }
  }

  &__td {
    padding: 12px 0;
    border-top: 1px solid #007f21;
    border-right: 1px solid #007f21;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;


  }

  &__table-span {
    border-radius: 10px;
    color: #fff;
    text-align: center;
    width: 75px;
    line-height: 1.3em;
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
    padding: 3px 0 1px;

    @include tab {
      display: block;
      margin: 0 auto;
    }

    @include sp {
      width: 55px;

    }


    &--weekday {
      background-color: #0071bc;
    }

    &--holiday {
      background-color: #f00b22;
    }
  }


  &__bg {
    background-color: #f8f8f8;
  }

  &__btn02 {
    display: block;
    max-width: 320px;
    margin: 40px auto;
  }


  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
top-access
 ================================= */

.top-access {
  padding: 32px 0 0 0;

  &__ttl-img {
    padding: 0 4px;
    max-width: 800px;
    margin: 0 auto;
  }

  &__subttl {
    max-width: 560px;
    margin: 60px auto 40px;

    @include sp {
      margin: 24px auto;

    }
  }

  &__map {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 22.25%;
    overflow: hidden;
    margin: 0 0 40px;

    @include sp{
      padding-top: 52.25%;

    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    display: block;
    max-width: 320px;
    margin: 0 auto 60px;
  }

  &__content {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 12px;
  }

  &__content-ttl {
    background-color: #8eb12b;
    color: #fff;
    padding: 6px 12px;
    max-width: 300px;
    margin: 0 0 12px;

  }
    &__content-text {
      margin: 0 0 32px;
    }

    &__ {}

    &__ {}

    &__ {}

    &__ {}

    &__ {}

    &__ {}

    &__ {}

    &__ {}

    &__ {}

    &__ {}

    &__ {}

    &__ {}

    &__ {}

}