@use "config";
@use "subpage";

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1200px)) {
    @content;
  }
}


/* =================================
header
 ================================= */

.wrap-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: transform 0.3s;
  height: 100px;

  @include tab {
    height: 60px;

  }

  &.is-hide {
    transform: translateY(-100%);
  }
}

.header-sub {

  border-bottom: 2px solid #1b1464;


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: block;
    background-color: #1b1464;
    color: #fff;
    padding: 8px;
    width: 150px;
    max-width: 150px;
    text-align: center;
    border-radius: 3px;
    margin: 0 0 0 8px;
    letter-spacing: 0.4rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    @include tab {
      display: none;
    }
  }
}

.header {
  background-color: #fff;
  position: fixed;



  @include tab {
    border-bottom: 1px #8a8a8a solid;

  }

  &__breadcrumb {
    font-size: 12px;
    max-width: 1200px;
    margin: 0 auto;
    color: #777777;
    position: absolute;
    bottom: -28px;
    left: 10%;
    transform: translateX(-50%);

    @include tab {
      left: 12px;
      transform: translateX(0);

    }
  }

  &__inner {
    padding: 13px 8px 16px 60px;
    max-width: 1600px;
    margin: 0 auto;

    @media screen and (max-width: 1350px) {
      padding: 13px 8px 16px;
    }

    @include pc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
    }


    @include sp {
      padding: 4px 8px;
    }
  }

  &__ttl {
    max-width: 400px;

    @media screen and (max-width: 1580px) {
      width: 350px;
    }

    @media screen and (max-width: 1420px) {
      width: 300px;
    }

    @media screen and (max-width: 1250px) {
      width: 280px;
    }

    @include tab {
      max-width: 200px;

    }
  }

  &__nav-list {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;

    @include pc {
      position: initial;
      transform: translate(0, 0);

    }


    @include tab {
      display: none;
    }

  }

  &__nav-item {
    text-align: center;
    width: 120px;
    border-left: 1px solid #333;


    &:nth-of-type(4) {
      border-right: 1px solid #333;
    }

    @media screen and (max-width: 1250px) {
      width: 108px;
    }

    @include pc {
      width: 88px;
    }

  }

  &__nav-br {
    display: none;

    @include pc {
      display: block;
    }
  }

  &__nav_tel {
    width: 300px;
    display: block;
    padding: 0 12px;

    @media screen and (max-width: 1550px) {
      width: 220px;
    }


    @media screen and (max-width: 1250px) {
      width: 180px;
    }



  }

  &__nav-mail {
    width: 40px;
    display: block;
    padding: 12px 0 12px;




  }

  &__nav-link {
    position: relative;
    display: block;
    letter-spacing: 0.1rem;
    font-size: 15px;
    padding: 12px 0 12px;
    line-height: 13px;
    text-shadow:
      .4px .4px #000,
      -.4px .4px #000,
      -.4px -.4px #000,
      .4px -.4px #000,
      .4px 0px #000,
      0px .4px #000,
      -.4px 0px #000,
      0px -.4px #000;


    &:hover {
      border: 1px solid #000;
      margin: 0 2px;
    }


    @include pc {
      letter-spacing: 0.4em;
      line-height: 1.2;
    }
  }

  &__open-btn {
    position: relative;
    z-index: 999;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: none;

    @include tab {
      display: block;
    }

    span {
      display: inline-block;
      transition: all 0.4s;
      /*アニメーションの設定*/
      position: absolute;
      left: 11px;
      height: 2px;
      border-radius: 5px;
      background: #000;
      width: 65%;

      &:nth-of-type(1) {
        top: 13px;
      }

      &:nth-of-type(2) {
        top: 23px;
      }

      &:nth-of-type(3) {
        top: 33px;
      }

    }

    /*.active が付与された時の挙動*/
    &.active span:nth-of-type(1) {
      top: 14px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 60%;
    }

    &.active.active span:nth-of-type(2) {
      opacity: 0;
    }

    &.active span:nth-of-type(3) {
      top: 26px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 60%;
    }

    &.active span:nth-of-type(3)::after {
      display: none;
    }
  }
}



.header-sp {
  position: fixed;
  z-index: 99;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: all 0.6s;

  &.open-menu {
    right: 0;
  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  &__time {
    text-align: center;
    margin: 0 0 40px;
  }

  &__nav-list {
    margin: 0 0 40px;
  }

  &__nav-item {
    margin: 0 0 24px;
  }
}


/* =================================
footer
 ================================= */

.footer {
  background-color: #ebf8f7;
  padding: 40px 8px 0;


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;


    @include tab {
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 0 32px;
    }
  }

  &__ttl {
    max-width: 300px;

    @include tab {
      margin: 0 0 24px;
    }
  }

  &__logo {
    display: block;
    margin: 0 0 24px;

    @include sp {
      margin: 0 0 12px;
    }
  }

  &__tel {
    margin: 0 0 0 32px;
    display: block;
  }

  &__tel-span {
    font-size: 12px;
  }

  &__address {
    font-size: 12px;
    margin: 0 0 0 32px;
    display: block;


  }

  &__menu {
    display: flex;
    gap: 12px;

    @include pc {
      flex-direction: column;
    }
  }

  &__menu-item {
    background-color: #fff;
    text-align: center;
    width: 150px;
    padding: 2px;
    border: #8a8a8a 1px solid;

  }

  &__sns {
    display: flex;
    gap: 12px;
    border-top: #1b1464 solid 1px;
    border-bottom: #1b1464 solid 1px;
    padding: 6px 48px 0;

    @include tab {
      padding: 6px 24px 0;
    }

  }

  &__sns-item {
    width: 18px;
  }

  &__nev {
    display: flex;
    justify-content: center;
    margin: 0 0 32px;

    @include pc {
      margin: 12px 0 32px;
    }

    @include tab {
      flex-wrap: wrap;
    }
  }

  &__nav-item {
    border-left: 1px solid #333;
    padding: 0 16px;
    line-height: 18px;

    @include pc {
      padding: 0 8px;
    }

    @include tab {
      margin: 0 0 6px;
    }

    &:last-child {
      border-right: 1px solid #333;

      @include sp {
        border: none;
      }
    }

    @include sp {
      border: none;
    }
  }

  &__bottom {
    border-top: 1px solid #777777;
    padding: 12px 0;

    @include tab {
      padding: 12px 0 90px;
    }

    @include sp {
      padding: 12px 0 60px;
    }

  }

  &__coppy {
    text-align: center;
    font-size: 12px;
  }


  &__sp-menu {
    display: none;

    @include tab {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    a:hover {
      opacity: 1;
    }

  }


  // スクロールボタン
  &__scroll-btn {
    cursor: pointer;
    position: absolute;
    top: -62px;
    right: 16px;
    width: 40px;

    @include tab {
      display: none;
    }
  }
}



/* =================================
main-visual
 ================================= */

.main-visual {

  display: flex;
  justify-content: center;

  @include pc{
  display: block;
  }


  &__list {
    max-width: 1120px;

  }

  &__left-img {

    @include pc{
    display: none;
    }
    img {
      object-fit: cover;
      object-position: right bottom;
      height: 100%;
    }
  }

  &__right-img {
    @include pc{
      display: none;
      }

    img {
      object-fit: cover;
      object-position: left bottom;
      height: 100%;
    }
  }

  &__item {

  }


  &__item-img {
    @include pc{
      max-width: 1120px;
      }
  }



 


  .slick-dots {
    bottom: -24px;

  }

  .slick-slider {
    margin-bottom: 0;
  }

  .slick-prev {
    left: -16px;
    z-index: 2;
  }

  .slick-next {
    right: -3px;
  }

}


/* =================================
top-about
 ================================= */

 .top-about {
  padding: 0 0 60px;
  @include tab{
    padding: 0 0 40px;

  }

  &__ttl {
    background-image: url(../img/top/top-abput-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 12px;
    margin: 16px 0 60px;

    @include sp{
    background-image: none;
    margin: 16px 0 40px;

    }
  }

  &__ttl-img {
    max-width: 800px;
    margin: 0 auto;
  }

  

  &__content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto 60px;
    gap: 28px;

    @include tab{
      flex-direction: column;
      align-items: center;
      padding: 0 12px;
      margin: 0 auto 40px;

    }
  }

  &__item {
    display: block;

    @include tab{
    max-width: 400px;
    }
  }

  &__img {}
  
  &__subttl {
    margin: 0 0 12px;
  }

  &__btn {
    display: block;
    max-width: 320px;
    margin: 0 auto;
  }

}



.top-about-subttl {

  &__ttl {
    font-size: 22px;
    border-bottom: 1px solid #8eb12b;
    position: relative;

    &:before {
      content: url(../img/top/top-about-subttl-img.png);
      transform: scale(0.6);
      position: absolute;
      top: -7px;
      right: 0;
    }


  }

  &__ttl-span {
    color: #8eb12b;
    font-size: 16px;
    font-weight: 900;
  }


}









/* =================================
top-info
 ================================= */

.top-info {
  background-color: #fefff0;
  background-image: url(../img/top/top-info-bg.png);
  
  &__ttl-img {
    max-width: 800px;
    margin: 0 auto;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}



}


/* =================================
top-shop
 ================================= */

 .top-shop {
  
  &__ttl-img {
    max-width: 800px;
    margin: 0 auto 24px;
  }

  &__point-wrap {
    background: linear-gradient(180deg, #ffdb31 0%, #ffdb31 50%, #fff 50%, #fff 100%);
    padding: 48px 12px;

    @include sp{
      padding: 16px 12px;

    }
  }

  &__point-img {
    max-width: 800px;
    margin: 0 auto;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}



}



/* =================================
top-holiday
 ================================= */

.top-holiday {

  &__ttl-wrap {
    margin: 0 0 60px;
    position: relative;

    @include sp {
      margin: 0 0 40px;
    }
  }

  &__item-wrap {
    display: flex;
    gap: 12px;

    @include tab {
      flex-wrap: wrap;
    }

  }

  &__item {

    @include tab {
      width: 48%;
    }
  }

  &__img {
    box-shadow: 3px 3px 7px -5px #777777;
    margin: 0 0 8px;
  }

  &__sub-ttl {
    margin: 0 0 0 3px;
    position: relative;
    font-weight: normal;

    &:after {
      /*画像を絶対配置*/
      position: absolute;
      content: '';
      bottom: -5px;
      left: 0;
      display: block;
      width: 100%;
      height: 10px;
      background-image: url(../img/top/top-holiday-decoration.png);
      background-size: contain;
      background-repeat: no-repeat;
      /*画像を繰り返さない*/
    }
  }

  &__bg-img01 {
    width: 120px;
    position: absolute;
    top: 0;
    left: 24%;
    transform: translateX(-50%);

    @include tab {
      left: 4%;
      width: 60px;
    }
  }

  &__bg-img02 {
    width: 200px;
    position: absolute;
    top: 0;
    left: 92%;
    transform: translateX(-50%);


    @include pc {
      left: 88%;
    }

    @include tab {
      left: 92%;
      width: 80px;
    }
  }

}

/* =================================
top-room
 ================================= */

.top-room {
  background-color: #ebf8f7;

  &__ttl-wrap {
    margin: 0 0 60px;

    @include sp {
      margin: 0 0 40px;
    }
  }

  &__top-box {
    margin: 0 0 16px;

    @include sp {
      margin: 0 0 12px;
    }
  }


  &__bottom-box {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;

    @include sp {
      gap: 12px;

    }
  }

  &__item {
    width: calc(33.3333% - 12px);

    @include pc {
      width: calc(50% - 8px);

    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

.room-top-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;


  @include sp {
    gap: 12px;

  }

  &__item {
    width: calc(50% - 8px);

    position: relative;

    @include tab {
      width: 100%;
    }
  }

  &__text-wrap {
    width: 70%;
    position: absolute;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 57%, rgba(255, 255, 255, 0) 92%);
    top: 3%;
    padding: 12px;
  }

  &__ttl {
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: 100;
    white-space: nowrap;

    @include sp {
      font-size: 16px;

    }
  }

  &__lead {
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);

    @include sp {
      font-size: 12px;

    }

  }

  &__ {}

  &__ {}

}

/* =================================
top-meal
 ================================= */

.top-meal {

  &__ttl-wrap {
    margin: 0 0 60px;
    position: relative;

    @include sp {
      margin: 0 0 40px;
    }
  }

  &__bg-img01 {
    width: 120px;
    position: absolute;
    top: -47px;
    left: 80%;
    transform: translateX(-50%) scale(-1, 1);

    @include pc {
      left: 88%;
      top: 0;
      width: 60px;
    }
  }

  &__bg-img02 {
    width: 200px;
    position: absolute;
    top: -67px;
    left: 9%;
    transform: translateX(-50%) scale(-1, 1);

    @include pc {
      top: -21px;
      width: 80px;
    }
  }


  &__list {
    display: flex;
    justify-content: space-around;
    gap: 16px;

    @include tab {
      flex-wrap: wrap;
    }
  }

  &__item {
    box-shadow: none;
    width: 25%;

    @include tab {
      width: 48%;
    }

    @include sp {
      width: 98%;
    }
  }

  &__img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

}

/* =================================
top-plan
 ================================= */

.top-plan {
  background-color: #ebf8f7;



  &--purpose {
    background-color: #fff;
  }

  &__ttl-wrap {
    margin: 0 0 60px;

    @include sp {
      margin: 0 0 40px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 16px;

    @include tab {
      flex-wrap: wrap;
    }
  }

  &__item {

    width: 25%;

    @include tab {
      width: 48%;
    }

    @include sp {
      width: 98%;
    }
  }

}

/* =================================
top-purpose
 ================================= */

.top-purpose {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
top-link
 ================================= */

.top-link {

  background-color: #ebf8f7;

  &__ttl-wrap {
    margin: 0 0 60px;
    position: relative;

    @include sp {
      margin: 0 0 40px;
    }
  }

  &__item-wrap {
    display: flex;
    gap: 12px;

    @include tab {
      flex-wrap: wrap;
    }

  }

  &__item {
    display: block;
    border: #1b1464 solid 1px;
    background-color: #fff;
    text-align: center;

    @include tab {
      width: 48%;
    }
  }

  &__img {
    margin: 0 0 12px 0;
  }

  &__ttl {
    color: #1b1464;
    font-size: 15px;
    border-bottom: 1px solid #c5c5c5;
    padding: 0 0 4px;
    margin: 0 5% 12px;
  }

  &__ttl-span {
    display: block;
    font-size: 12px;
  }

  &__lead {
    font-size: 12px;
    margin: 0 0 12px;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
top-photograph
 ================================= */

.top-photograph {

  &__ttl-wrap {
    margin: 0 0 60px;

    @include sp {
      margin: 0 0 40px;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}